body{
    text-align: center;
}

img {
    border-radius: 10px;
    box-shadow: 12px 10px 5px lightgrey;
    width: 300px;
    height: 300px;
}

p {
    font: 400 20px/1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}

.dismiss-img{
    border-radius: 0px;
    box-shadow: none;
    width: auto;
    height: auto;
}

.detail-img{
    box-shadow: none!important;
    border-radius: 0%;
}

.text-left{
    text-align: left!important;
}

.center-pagination{
    display: -webkit-inline-box;
    text-align: center;
}

.black-background{
    background-color: #202020!important;
    color: whitesmoke!important;
}

.welcome{
    font-size: 20px;
    margin: 10px 20px 0px 0px;
}

.logo{
    width: 130px;
    height: 60px;
    box-shadow: none!important;
    flex:initial;
}

.no-border{
    border: none!important;
}

.go-right{
    float: right;
}

.spacing{
    margin: 10px;
}

.custom-button{
    color: #fff;
    background-color: #dc3545;
    border-radius: 0%!important;
}

.rounded-border{
    font-size: 20px;
    list-style-type: none;
    color: rgb(117, 0, 0);
    height: 50px;
    width: 50px;
    flex: 0 0 50px;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded-border-text{
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    font: 400 20px/1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
    color: #fff;
}

.center{
    text-align: center;
    display: inline-block;
}

.center-self{
    align-self: center;
}

.no-interactable{
    cursor: unset!important;
    color: yellowgreen!important;
}

.star-color{
    color: yellowgreen!important;
}

.star-color:hover {
    color: darkblue!important;
}

.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
    color: red;
}

.fa:hover {
    color: darkblue;
}

.description-text{
    font: 400 16px/1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}

.list-group-item.li-custom{
    border: 1px solid #fff!important;
}

.card-body.li-custom{
    border: 5px solid #fff!important;
}